.container-details .col-md-6 {
  height: 600px;
}
.container-details .row {
  margin: 30px 50px;
}
.container-details .col-md-6 .title {
  padding: 20px 10px;
}
.container-details .col-md-6 .text {
  padding: 20px 10px;
}
.container-details .col-md-6 .button {
  padding: 20px 10px;
}
.container-details .col-md-6 .bottom-text {
  padding: 20px 10px;
}
.container-form {
  margin: 30px 50px;
}
.container-related {
  margin: 30px 50px;
}
.card-brand {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-brand:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out;
}

.promotion-item {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* .promotion-item:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease-in-out;
} */

.action-buttons {
  display: flex;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
}

.promotion-item:hover .action-buttons {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
  animation: slideUpFadeIn 0.3s ease-in-out;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 50px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.promo_state {
  color: #000;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 4px;
  border-radius: 4px;
}

.original-price {
  color: #888;
  font-size: 0.95em;
  margin-bottom: 2px;
}
.discounted-price {
  color: #d90429;
  font-size: 1em;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}
.discounted-price .badge {
  font-size: 0.75em;
  padding: 2px 6px;
  vertical-align: middle;
}
.promotion-item-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
